# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js (legacy)
/.next/
/out/

# production
/build
/dist
/server/dist
/client/dist

# misc
.DS_Store
*.pem
*.xlsx
desktop.ini

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# recovery & temporary
/recovery/
/.mimocode/
/_trash/

